<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="tests" verbose="1" >
    <test name="fastTests">
        <groups>
            <run>
                <include name="fast"/>
            </run>
        </groups>
        <packages>
            <package name="channels"/>
            <package name="model"/>
            <package name="model.databaseManager"/>
            <package name="model.libraries"/>
            <package name="model.libraries.interpreters"/>
        </packages>
    </test>
</suite>